.cl {
    clear: both
}

.fleft {
    float: left
}

.fright {
    float: right
}

.list-center {
    width: 1112px;
    position: relative;
    z-index: 50
}

.list-center .content-in {
    width: 809px
}

.favorite-products-count {
    position: fixed;
    right: 0;
    top: 180px;
    z-index: -1
}

.favorite-products-count .cartIconFilled {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 4%;
    background: #fcc82b
}

.favorite-products-count .cartIconFilled:hover {
    background: #D4E9F4
}

.favorite-products-count .cartIconFilled a {
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 46px;
    text-align: center;
    color: #38495e;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.1;
    text-decoration: none
}

.favorite-products-count .cartCountDiv {
    position: absolute;
    top: 10px;
    left: 24px;
    z-index: 10;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    color: #fff;
    background-color: #e67700;
    border-radius: 50%
}

.item-row {
    width: 100%;
    position: relative;
    height: 260px;
    padding-top: 29px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    margin-bottom: 22px
}

.item-row * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.item-row .inner {
    background: white;
    height: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.35)
}

.item-row .inner .item__col {
    height: 100%;
    padding: 7px 10px
}

.item-row .inner .item__main-panel {
    float: left;
    width: 79%
}

.item-row .inner .item__info-panel {
    float: right;
    width: 21%;
    background: #feefc2;
    position: relative;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding-top: 80px
}

.item-row .inner .item__destination-list {
    font-size: 11px;
    font-weight: 600
}

.item-row .inner .item__destination-list img {
    margin: 0 7px
}

.item-row .inner .item__product-name {
    font-size: 18px;
    font-weight: 600;
    margin: 1px -1px
}

.item-row .inner .item__diet-list {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px
}

.item-row .inner .item__image {
    width: 207px;
    height: 150px;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url("/Public/ElectraTours/img/nopic.jpg");
    background-position: 50% 50%;
    background-size: cover
}

.item-row .inner .item__image a {
    display: block
}

.item-row .inner .item__terms-list {
    float: left;
    width: 407px;
    height: 158px
}

.item-row .inner .lines2 {
    display: inline-block;
    max-width: 110px;
    line-height: 14px;
    height: 20px
}

.item-row .inner .terms-list__table table tr:first-child td,
.item-row .inner .terms-list__table table tr:first-child th {
    border-top: 1px solid #d8e5ec
}

.item-row .inner .terms-list__table table tr:hover td,
.item-row .inner .terms-list__table table tr:hover th {
    background: inherit
}

.item-row .inner .terms-list__table table tr td,
.item-row .inner .terms-list__table table tr th {
    font-size: 13px;
    font-weight: 500;
    padding: 6px 4px;
    text-align: left;
    border-bottom: 1px solid #d8e5ec;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: #333;
    vertical-align: middle
}

.item-row .inner .terms-list__table table tr td.term__term,
.item-row .inner .terms-list__table table tr th.term__term {
    font-weight: 600;
    color: #3684ad
}

.item-row .inner .terms-list__table table tr td.term__price,
.item-row .inner .terms-list__table table tr th.term__price {
    font-size: 13px;
    font-weight: 600;
    color: #e67200;
    position: relative;
    text-align: right
}

.item-row .inner .terms-list__table table tr td.term__price.has-tag,
.item-row .inner .terms-list__table table tr th.term__price.has-tag {
    padding-right: 22px
}

.item-row .inner .terms-list__table table tr td.term__price .price-tag,
.item-row .inner .terms-list__table table tr th.term__price .price-tag {
    position: absolute;
    right: -5px;
    top: 5px;
    padding: 1px 3px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    background: #00b450;
    text-transform: uppercase;
    font-size: 10px
}

.item-row .inner .terms-list__table table tr td.term__price .price-tag:before,
.item-row .inner .terms-list__table table tr th.term__price .price-tag:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 3px 0;
    border-color: transparent #00b450 transparent transparent;
    line-height: 0px;
    _border-color: #000 #00b450 #000 #000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000')
}

.item-row .inner .item__discount-arrow {
    position: absolute;
    top: -30px;
    left: 0;
    width: 132px;
    height: 111px;
    background-repeat: no-repeat;
    background-image: url("/Public/ElectraTours/img/sale_list_arrow.png")
}

.item-row .inner .item__discount-arrow .discount-arrow__discount_value {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 40px;
    color: white;
    line-height: 1.15;
    right: 6px;
    bottom: 47px;
    font-size: 16px;
    font-weight: 400
}

.item-row .inner .item__discount-arrow .discount-arrow__discount_value:before {
    content: "";
    width: 75%;
    height: 1px;
    background: white;
    display: block;
    margin: auto auto 3px auto
}

.item-row .inner .item__days-count {
    text-align: right;
    font-size: 11px;
    font-weight: 600
}

.item-row .inner .item__price {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    color: red;
    margin-top: 5px
}

.item-row .inner .item__detail-button {
    margin-top: 18px
}

.item-row .inner .item__detail-button a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    background: #fcc82b;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.item-row .inner .item__detail-button a:hover {
    background: #fbbd04
}

.item-row .inner .item__favourites {
    margin-top: 21px
}

.item-row .inner .item__favourites a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    display: inline;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding-left: 35px;
    cursor: pointer
}

.item-row .inner .item__favourites:hover .favourites__add-icon,
.item-row .inner .item__favourites:hover .favourites__remove-icon {
    background-color: #0385b1;
    border: 1px solid transparent;
    color: #fff
}

.item-row .inner .item__favourites .cart-addremove-buttons {
    height: 28px;
    line-height: 28px;
    display: inline-block
}

.item-row .inner .item__favourites .favourites__add-icon,
.item-row .inner .item__favourites .favourites__remove-icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-right: 3px;
    line-height: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c0dff0;
    color: #0385b1;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background: #d9ecf6
}

.item-row .inner .item__favourites .favourites__add-icon:hover,
.item-row .inner .item__favourites .favourites__remove-icon:hover {
    background-color: #0385b1;
    border: 1px solid transparent;
    color: #fff
}

.stars-wrap {
    overflow: hidden
}

.stars-wrap .star-pol {
    cursor: pointer;
    display: block;
    float: left;
    overflow: hidden;
    padding-right: 4px;
    text-indent: -999em
}

.stars-wrap .star-pol a {
    display: block;
    height: 25px;
    position: relative;
    width: 25px;
    background: url(http://www.electratours.cz/Public/ElectraTours/img/sunRay20Gray.png) no-repeat scroll 0 0
}

.stars-wrap .star-pol-active a,
.stars-wrap .star-pol-active2 a {
    background: url(http://www.electratours.cz/Public/ElectraTours/img/sunRay20.png) no-repeat scroll 0 0
}

.search-tour .rating label {
    line-height: 25px
}

.search-tour .rating-row {
    margin-bottom: 5px
}

.breadcrumb-type-1 {
    overflow: hidden;
    padding: 20px 0 30px;
    position: relative;
    z-index: 5
}

.breadcrumb-type-1 ul {
    margin: 0;
    padding: 0
}

.breadcrumb-type-1 li {
    float: left;
    margin-right: 5px;
    list-style-type: none
}

.breadcrumb-type-1 li span {
    color: gray
}

.breadcrumb-type-1 li:after {
    content: ">";
    display: inline-block;
    padding-left: 5px
}

.breadcrumb-type-1 li:last-child:after {
    content: ""
}

.stories .story {
    margin-bottom: 20px;
    overflow: hidden
}

.stories .story__name {
    margin-top: 25px
}

.stories .story__date {
    color: #7D4514;
    font-style: italic;
    margin: 5px 0;
    display: block
}

.stories .story__content {
    border-top: 1px solid #DADEE0;
    padding-top: 25px;
    color: black
}

.stories .story__annotation {
    margin: 10px 0;
    font-style: italic
}

.stories .story__button {
    height: 31px;
    padding: 0 21px;
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: 300;
    text-decoration: none;
    background: #3866b0;
    border: 1px solid #265195;
    border-bottom-width: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin: 10px
}

.stories .story__button:hover {
    background: #265195
}

.claims {
    margin-top: 20px;
    padding: 10px;
    background: #FBEDEF;
    overflow: hidden;
    border-top: 1px solid #D00041;
    border-bottom: 1px solid #D00041;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1)
}

/* .claims__claim {
    color: #D00041;
    float: left;
    width: 33%;
    padding: 10px 10px 10px 100px;
    box-sizing: border-box;
    position: relative
}

.claim__name {
    color: #D00041;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px
}

.claim__text {
    font-size: 17px;
    font-weight: 500
}

.claim__img {
    position: absolute;
    left: 5%;
    top: 10%
}
*/
.lang--cz .range #visible_price-from,
.lang--cz .range #visible_price-to,
.lang--en .range #visible_price-from,
.lang--en .range #visible_price-to {
    display: inline-block
}

.lang--cz .range #visible_price-from:after,
.lang--cz .range #visible_price-to:after {
    content: "K\10D"
}

.lang--en .range #visible_price-from:after,
.lang--en .range #visible_price-to:after {
    content: "CZE"
}

.dnone {
    display: none
}

.set-btn-class.dnone {
    display: block
}


/*# sourceMappingURL=custom.css.map */
